<ix-demo-element heading="Paper Tabs" [(checkValue)]="value.paperTabsSelected">
  <paper-tabs [(selected)]="value.paperTabsSelected">
    <paper-tab tabindex="1">ITEM ONE</paper-tab>
    <paper-tab tabindex="2">ITEM TWO</paper-tab>
    <paper-tab tabindex="3">ITEM THREE</paper-tab>
  </paper-tabs>
  
  <iron-pages [(selected)]="value.paperTabsSelected">
    <div>Nothing more happened on the passage worthy the mentioning; so, after a fine run, we safely arrived in Nantucket.</div>
    <div>I will now refer you to Langsdorff's Voyages for a little circumstance in point, peculiarly interesting to the writer hereof. Langsdorff, you must know by the way, was attached to the Russian Admiral Krusenstern's famous Discovery Expedition in the beginning of the present century. Captain Langsdorff thus begins his seventeenth chapter:</div>
    <div>In the sixth Christian century lived Procopius, a Christian magistrate of Constantinople, in the days when Justinian was Emperor and Belisarius general. As many know, he wrote the history of his own times, a work every way of uncommon value. By the best authorities, he has always been considered a most trustworthy and unexaggerating historian, except in some one or two particulars, not at all affecting the matter presently to be mentioned.</div>
  </iron-pages>
</ix-demo-element>

<ix-demo-element heading="Paper Dropdown" [(checkValue)]="value.paperDropdown">
  <paper-dropdown-menu label="Select an animal">
    <paper-listbox class="dropdown-content" [(selected)]="value.paperDropdown">
      <paper-item>Elephant</paper-item>
      <paper-item>Tiger</paper-item>
      <paper-item>Dog</paper-item>
      <paper-item>Cat</paper-item>
    </paper-listbox>
  </paper-dropdown-menu>
</ix-demo-element>

<ix-demo-element [(heading)]="label.paperInput" [(checkValue)]="value.paperInput">
  <paper-input label="Paper Input Label" [(value)]="value.paperInput"></paper-input>
</ix-demo-element>

<ix-demo-element heading="Paper Badge">
  <paper-icon-button id="number" icon="communication:email" alt="inbox"></paper-icon-button>
    <paper-badge for="number" label="4"></paper-badge>
    <paper-icon-button id="icon" icon="account-box" alt="person"></paper-icon-button>
  <paper-badge icon="social:mood" for="icon" label="happy"></paper-badge>
</ix-demo-element>

<ix-demo-element heading="Paper Progress">
  <paper-progress [(value)]="value.paperProgress" secondary-progress="5"></paper-progress>
</ix-demo-element> 