<ix-demo-element heading="Paper Tabs" [(checkValue)]="value.paperTabsSelected">
  <paper-tabs [(selected)]="value.paperTabsSelected">
    <paper-tab tabindex="1">ITEM ONE</paper-tab>
    <paper-tab tabindex="2">ITEM TWO</paper-tab>
    <paper-tab tabindex="3">ITEM THREE</paper-tab>
  </paper-tabs>
  
  <iron-pages [(selected)]="value.paperTabsSelected">
    <div>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit den nötigen Regelialien.</div>
    <div>Es ist ein paradiesmatisches Land, in dem einem gebratene Satzteile in den Mund fliegen. Nicht einmal von der allmächtigen Interpunktion werden die Blindtexte beherrscht – ein geradezu unorthographisches Leben. Eines Tages aber beschloß eine kleine Zeile Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in die weite Grammatik.</div>
    <div> Der große Oxmox riet ihr davon ab, da es dort wimmele von bösen Kommata, wilden Fragezeichen und hinterhältigen Semikoli, doch das Blindtextchen ließ sich nicht beirren. Es packte seine sieben Versalien, schob sich sein Initial in den Gürtel und machte sich auf den Weg.</div>
  </iron-pages>
</ix-demo-element>

<ix-demo-element heading="Paper Dropdown" [(checkValue)]="value.paperDropdown">
  <paper-dropdown-menu label="Dinosaurs">
    <paper-listbox class="dropdown-content" [(selected)]="value.paperDropdown">
      <paper-item>allosaurus</paper-item>
      <paper-item>brontosaurus</paper-item>
      <paper-item>carcharodontosaurus</paper-item>
      <paper-item>diplodocus</paper-item>
    </paper-listbox>
  </paper-dropdown-menu>
</ix-demo-element>

<ix-demo-element [(heading)]="label.paperInput" [(checkValue)]="value.paperInput">
  <paper-input label="Paper Input Label" [(value)]="value.paperInput"></paper-input>
</ix-demo-element>

<ix-demo-element heading="Paper Badge">
  <paper-icon-button id="number" icon="communication:email" alt="inbox"></paper-icon-button>
    <paper-badge for="number" label="4"></paper-badge>
    <paper-icon-button id="icon" icon="account-box" alt="person"></paper-icon-button>
  <paper-badge icon="social:mood" for="icon" label="happy"></paper-badge>
</ix-demo-element>

<ix-demo-element heading="Paper Progress">
  <paper-progress [(value)]="value.paperProgress" secondary-progress="5"></paper-progress>
</ix-demo-element> 