<app-drawer-layout>
  <app-drawer>
      <app-toolbar></app-toolbar>
      <paper-menu selected="0">
        <paper-item><a routerLink="/dynamic-chart">Dynamische Charts</a></paper-item>
        <paper-item><a routerLink="/paper-elements">Paper Elements</a></paper-item>
      </paper-menu>
  </app-drawer>

  <app-header-layout>
    <app-header fixed>
        <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div spacer main-title>{{title}}</div>
        </app-toolbar>
    </app-header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </app-header-layout>
</app-drawer-layout>